.g-margin-mt-32 {
  margin-top: 32px;
}
.g-margin-mt-16 {
  margin-top: 16px;
}
.g-margin-mt-8 {
  margin-top: 8px;
}
.g-margin-mt-10 {
  margin-top: 10px;
}
.g-margin-mt-4 {
  margin-top: 4px;
}

.g-margin-mb-32 {
  margin-bottom: 32px;
}
.g-margin-mb-16 {
  margin-bottom: 16px;
}
.g-margin-mb-8 {
  margin-bottom: 8px;
}
.g-margin-mb-10 {
  margin-bottom: 10px;
}
.g-margin-mb-4 {
  margin-bottom: 4px;
}

.g-margin-ml-32 {
  margin-left: 32px;
}
.g-margin-ml-16 {
  margin-left: 16px;
}
.g-margin-ml-8 {
  margin-left: 8px;
}
.g-margin-ml-10 {
  margin-left: 10px;
}
.g-margin-ml-4 {
  margin-left: 4px;
}
