<template>
  <main>
    <div class="app-container" id="app-login">
      <div class="app-container-donate g-block g-ai-center g-jc-center">
        <section class="section-donate">
          <div class="donation-badge  g-br-12"></div>

          <app-image :src="Logo" />

          <div class="donation-badge g-br-12 g-p-32">
            Your one stop platform to manage all of your field service
            management
          </div>

          <div class="g-form">
            <div class="g-from-content g-margin-mt-16">
              <app-input
                :required="true"
                label="Email"
                v-model="user.email"
                placeholder="Masukkan email anda"
              >
                <p
                  class="g-color-danger g-margin-mt-4 g-fs-xs"
                  v-for="(err, idx) in error.email"
                  :key="idx"
                >
                  {{ err }}
                </p>
              </app-input>
            </div>
            <div class="g-from-content g-margin-mt-16">
              <app-input
                label="Password"
                v-model="user.password"
                type="password"
                placeholder="******"
                :required="true"
              >
                <p
                  class="g-color-danger g-margin-mt-4 g-fs-xs"
                  v-for="(err, idx) in error.phone"
                  :key="idx"
                >
                  {{ err }}
                </p>
              </app-input>
            </div>

            <div class="donate-action g-flex-as-center">
              <app-button @click="next()" type="lg">
                <span class="g-fw-700">Next</span>
              </app-button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
  <footer>
    <p class="d-fw-bold">
      © Copyright 2019 PT. Paket Informasi Digital. All Rights Reserved
    </p>
  </footer>
</template>

<script>
import AppButton from "../components/AppButton.vue";
import AppInput from "../components/AppInput.vue";
import AppImage from "../components/AppImage.vue";
import Logo from "../assets/images/logo.png";
export default {
  name: "Login",
  components: {
    AppButton,
    AppInput,
    AppImage,
  },

  data: () => {
    return {
      user: {
        email: "",
        password: "",
      },
      error: {},
      save: false,
      Logo,
      loading: false,
    };
  },

  computed: {},

  methods: {
    async next() {
      this.loading = true;
      setTimeout(() => {
        this.loading = false;
      }, 2000);
    },
  },

  watch: {},
  mounted() {},
};
</script>

<style lang="scss" scoped>
$color-primary: #5452f6;
$color-white: #ffffff;
main {
  height: 100vh;
  position: relative;
  #app-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media only screen and (max-width: 768px) {
    width: calc(100% - 32px);
  }
}
.app-container-donate {
  display: flex;
  flex-flow: column;
  .donation-badge {
    padding: 16px;
    margin-bottom: 16px;
  }

  .section-donate {
    margin: 0 auto;
    width: 450px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 10%);
    padding: 16px;
    border-radius: 12px;
    background: white;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }

    .g-form {
      display: flex;
      flex-flow: column;

      .donate-number {
        margin-top: 16px;
        .donate-title {
          color: $color-primary;
          margin-bottom: 8px;
          text-align: center;
        }

        .donate-content {
        }
      }

      .donate-action {
        margin-top: 16px;
      }
    }
  }

  .section-bank {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 32px;
    width: 450px;
  }

  .section-help {
    margin: 0 auto;
    align-self: center;

    p {
      font-size: 24px;
    }
  }

  .section-thanks {
    text-align: center;
    margin-top: 40px;
  }
}
footer {
  padding: 8px;
  font-weight: bold;
}
</style>
