<template>
  <div class="app-loading">
    <span
      class="app-loading-icon g-bg-white g-flex g-color-white-md g-p-8 g-br-8"
    >
      <font-awesome-icon icon="spinner" pulse size="2x" />
    </span>
  </div>
</template>

<script>
export default {};
</script>

<style>
.app-loading-icon {
  box-shadow: 0 0 8px rgba(0, 0, 0, 20%);
}
</style>
