<template>
  <div
    id="app"
    :style="{
      'background-image': 'url(' + (screenWidth > 768 ? image : '') + ')',
    }"
  >
    <router-view />
  </div>
</template>

<script>
import image from "./assets/images/bg.png";
export default {
  data() {
    return { image, screenWidth: 0 };
  },

  mounted() {
    this.screenWidth = Math.max(
      document.documentElement.clientWidth || 0,
      window.innerWidth || 0
    );
    console.log(this.screenWidth);
  },
};
</script>

<style lang="scss">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(2, 168, 243, 0.06),
    rgba(2, 168, 243, 0)
  );
  background-repeat: no-repeat;
  background-position: 100%;
  @media only screen and (max-width: 768px) {
    background: none;
    width: 100%;
    padding: 8px;
  }
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
